.container{
    padding-top: 1.1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider{
    display: flex;
    justify-content: center;
}

.news{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.3rem;
    margin-bottom: 2rem;
}
